/* General */
body {
    background: linear-gradient(to right, #5de0e6, #004aad);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra Superior */
.logo {
    height: 45px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



/* Estilos de los Botones */
.btn-custom {
    width: 6.5em;
    height: 2.0em;
    margin: 0.5em;
    background: rgb(202, 204, 104);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn-custom:hover {
    color: black;
}
.btn-custom:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
.btn-custom:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* Primera Sección */
.section-bg {
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f0f0f0; /* Color de fondo para mejor visibilidad */
    display:flex;
    justify-content: center;
    align-items: center;
}
.img-fluid {
    margin-top: 3%;
    max-width: 100%;
    height: auto;
}

/* Separador entre secciones */
.section-separator {
    height: 150px; /* Espacio entre secciones */
    background: linear-gradient(to right, #5de0e6, #004aad); /* Coincide con el color de fondo de la segunda sección */
}

/* Segunda Sección */
.section-bg-2 {
    background-color: #00aaff; /* Color de fondo azul celeste */
    padding: 40px 0;
}

.text-container {
    
    border: 20px solid white; /* Borde blanco leve */
    padding: 20px;
    background-color: rgba(167, 167, 167, 0); /* Fondo transparente */
    border-radius: 10px; /* Bordes redondeados */
}

.developer-image-container {
    text-align: center;
}

.developer-image {
    border: 2px solid white; /* Borde blanco delgado */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 160px; /* Ancho máximo de las imágenes */
    height: 250px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin: 8px;
}

/* Tercera Sección */

.mosaic-image {
    width: 350px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 10px; /* Esquinas redondeadas */
    border: 2px solid white; /* Borde blanco leve */
}

.mosaic-item {
    text-align: center;
}

/* Cuarta Sección */

.large-image {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 10px; /* Esquinas redondeadas */
    border: 2px solid white; /* Borde blanco leve */
}

.qr-code-image {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 10px; /* Esquinas redondeadas */
    border: 2px solid white; /* Borde blanco leve */
}

.section-bg-4 {
    background: linear-gradient(to right, #5de0e6, #004aad);
    padding: 20px;
}

.text-white {
    color: white;
}

/* From Uiverse.io by Na3ar-17 */ 
.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .label {
    background-color: transparent;
    border: 2px solid rgb(0, 209, 63);
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 160px;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 5px;
    position: relative;
  }
  
  .label::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 8px;
    height: 8px;
    transition: all 0.4s ease;
    border-radius: 100%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }
  
  .label .input {
    display: none;
  }
  
  .label .title {
    font-size: 17px;
    color: #fff;
    transition: all 0.4s ease;
    position: absolute;
    right: 18px;
    bottom: 14px;
    text-align: center;
  }
  
  .label .title:last-child {
    opacity: 0;
    visibility: hidden;
  }
  
  .label .circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(2, 199, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    position: relative;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    overflow: hidden;
  }
  
  .label .circle .icon {
    color: #fff;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  
  .label .circle .square {
    aspect-ratio: 1;
    width: 15px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  
  .label .circle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00c241;
    width: 100%;
    height: 0;
    transition: all 0.4s ease;
  }
  
  .label:has(.input:checked) {
    width: 57px;
    animation: installed 0.4s ease 3.5s forwards;
  }
  
  .label:has(.input:checked)::before {
    animation: rotate 3s ease-in-out 0.4s forwards;
  }
  
  .label .input:checked + .circle {
    animation:
      pulse 1s forwards,
      circleDelete 0.2s ease 3.5s forwards;
    rotate: 180deg;
  }
  
  .label .input:checked + .circle::before {
    animation: installing 3s ease-in-out forwards;
  }
  
  .label .input:checked + .circle .icon {
    opacity: 0;
    visibility: hidden;
  }
  
  .label .input:checked ~ .circle .square {
    opacity: 1;
    visibility: visible;
  }
  
  .label .input:checked ~ .title {
    opacity: 0;
    visibility: hidden;
  }
  
  .label .input:checked ~ .title:last-child {
    animation: showInstalledMessage 0.4s ease 3.5s forwards;
  }
  
  @keyframes pulse {
    0% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      scale: 1;
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
    }
    100% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes installing {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-90deg) translate(27px) rotate(0);
      opacity: 1;
      visibility: visible;
    }
    99% {
      transform: rotate(270deg) translate(27px) rotate(270deg);
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes installed {
    100% {
      width: 150px;
      border-color: rgb(35, 174, 35);
    }
  }
  
  @keyframes circleDelete {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes showInstalledMessage {
    100% {
      opacity: 1;
      visibility: visible;
      right: 56px;
    }
  }
  
  .texto{
    height: auto;
    margin-left: 5%;
  }